html {
    font-size: 16px;
}

body {
    background: no-repeat top/cover url("images/pattern-background-desktop.svg"), hsl(225, 100%, 94%);
    background-repeat: repeat-x;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    font-family: 'Red Hat Display';
}

.panel {
    background-color: white;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    width: 50%;
    max-width: 600px;
    text-align: center;
    color: hsl(223, 47%, 23%);
}

.panel-image {
    border-radius: 1em 1em 0 0;
    width: 100%;
}

.panel-content {
    padding: 2.5em 5em 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.panel-heading {
    font-weight: 900;
    margin: 0 0 1em;
}

.panel-price {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: no-wrap;
    width: 90%;
}

.panel-price-image {
    width: 20%;
}

.panel-price-plan {
    text-align: left;
    flex-grow: 1.25;
    padding-left: 1.5em;
}

.panel-price-plan h3 {
    margin-bottom: 0;
    font-weight: 900;
}

.panel-price-plan p {
    margin-top: 0.5em;
}

.panel-price-button {
    flex-grow: 1.75;
    font-weight: 700;
}

.panel-proceed {
    text-align: center;
    border-radius: 1em;
    width: 120%;
    padding: 1em 0;
    text-decoration: none;
    color: white;
    background-color: hsl(245, 75%, 52%);
    margin: 3em 0 1em;
    font-weight: 700;
    filter: drop-shadow(0 10px 10px hsl(0, 0%, 65%));
}

.panel-cancel {
    text-align: center;
    color: hsl(224, 23%, 55%);
    text-decoration: none;
    width: 120%;
        padding: 1em 0;
    border-radius: 1em;
    font-weight: 700;
}

p {
    color:hsl(224, 23%, 55%);
}

@media (max-width: 650px) {
    html {
        font-size: 14px;
    }
    body {
        background: no-repeat top/cover url("images/pattern-background-mobile.svg"), hsl(225, 100%, 94%);
    }
    .panel {
        max-width: 300px;
    }
    .panel-proceed, .panel-cancel {
        width: 150%;
        padding: 1em 0;
        /* padding: 1em 1em; */
    }
}